# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# IDE
.idea/

# Game Assets & Output
/stockfish.exe
/stockfish
/last_game.pgn

# Temporary download files
*.zip
*.tar
stockfish_temp/
/assets/pieces/*.png
!/assets/pieces/placeholder.txt
